* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(34, 147, 192),
    rgb(9, 163, 224)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  margin-top: 100px;
  background-color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image {
  width: 180px;
  margin: 15px;
}

.card {
  margin: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item-title {
  color: #303030;
  font-size: 20px;
  margin-right: 15px;
  margin-bottom: 0;
}

.card-item-dados {
  font-size: 36px;
}

@media (min-width: 992px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
